<link rel="stylesheet" href="/css/profile/profile.css">
<link href="css/datatable.css" rel="stylesheet">
{{> popupuser}}
<div class="container-fluid">
    <div class="row">
        <div class="fb-profile">
            {{> profileAvarta}}
            <h4>(Seller)</h4>
        </div>
    </div>
</div>
{{> Checkerror}}
<div class="container-fluid" style="margin-top:20px;">
  <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="button" id="stars" class="btn btn-primary" href="#duyet" data-toggle="tab"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                <div class="hidden-xs">History Posted Auc</div>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" id="stars" class="btn btn-primary" href="#user" data-toggle="tab"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <div class="hidden-xs">About hello</div>
                            </button>
                        </div>
                </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="duyet">
                      {{> Checkerror}}
                      <table class="table table-hover table-bordered" id="table1">
                        <thead>
                          <tr>
                            <th style="display:none;">IDproduct</th>
                            <th>Image</th>
                            <th>SKU</th>
                            <th>Proname</th>
                            <th style="display:none;">Tinydes</th>
                            <th style="display:none;">Fulldes</th>
                            <th>Warranty</th>
                            <th style="display:none;">Datepost</th>
                            <th style="display:none;">Datefinish</th>
                            <th>Time To End</th>
                            <th>Price</th>
                            <th style="display:none;">Step</th>
                            <th>Beatprice</th>
                            <th>Turn Auc</th>
                            <th>Best Price</th>
                          </tr>
                        </thead>
                        <tbody class="mess">
                          {{#each itemPostAuction}}
                            <tr>
                              <td class="idPro" valign="middle" align="center" style="display:none;">{{this.proid}}</td>
                              <td class="name" valign="middle" align="center">
                                <img src="{{this.image1}}" class="img-responsive img-box img-thumbnail" style="height: 100px; width: 100px;">
                              </td>
                              <td valign="middle" align="center">{{this.sku}}</td>
                              <td valign="middle" align="center"><a href="/item/{{this.proid}}">{{{trimString this.proname}}}</a></td>
                              <td valign="middle" align="center" style="display:none;">{{this.tinydes}}</td>
                              <td class="fulldes" style="display:none;"> {{this.fulldes}} </td>
                              <td valign="middle" align="center">{{this.warranty}}</td>
                              <td valign="middle" align="center" style="display:none;">{{this.datepost}}</td>
                              <td valign="middle" align="center" style="display:none;">{{this.datefinish}}</td>
                              <td valign="middle" align="center">{{{CheckDeadline this.sogiay}}}</td>
                              <td valign="middle" align="center">{{this.startprice}}</td>
                              <td valign="middle" align="center" style="display:none;">{{this.step}}</td>
                              <td valign="middle" align="center">{{this.beatprice}}</td>
                              <td valign="middle" align="center">{{this.soluotdaugia}}</td>
                              <td valign="middle" align="center">{{this.priceAuction}}</td>
                            </tr>
                          {{/each}}
                        </tbody>
                      </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="user">
                      {{> DangDauGia}}
                    </div>
                </div>
          </div>
  </div>
</div>

<script src="/js/datatable.js"></script>
<script src="/js/profile/profile.js"></script>
<script src="/component/jquery.countdown/dist/jquery.countdown.js"></script>
<script>
  function processDC() {
      $(".mess").on("click", "tr", function () {
          var tr = $(this).closest("tr");
          $(".mess tr").attr("data-toggle", "modal");
          $(".mess tr").attr("data-target", "#enquirypopup");
          var idproduct = tr.find(".idPro").text();
          var Datenow = new Date();
          var noidung = tr.find(".fulldes").text();

          var dateofedit = $("#DOE");
          var noidungs = $("#noidung"); // full des
          var idProducts = $("#IDProduct");

          noidungs.html('');
          dateofedit.val(Datenow);
          noidungs.html(noidung);
          idProducts.val(idproduct);

          dateofedit.attr("readonly", true);
          noidungs.attr("readonly", true);
          dateofedit.css("background-color", "black");
          noidungs.css("background-color", "black");
      });
  }
  $(document).ready(function(){
    $('#table1').DataTable();
    $('#table2').DataTable();
    processDC();
    $('[data-countdown]').each(function() {
      var $this = $(this),
          finalDate = $(this).data('countdown');
      $this.countdown(finalDate, function(event) {
        $this.html(event.strftime('%w weeks %D days %H:%M:%S'));
      });
    });

  });
</script>
