<link rel="stylesheet" href="/css/item.css">
<div class="content">
  <div class="col-md-4 col-ms-4 col-lg-3">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{item.image1}}" alt="Preview 1" style="width:100%;">
        </div>
        <div class="item">
          <img src="{{item.image2}}" alt="Preview 2" style="width:100%;">
        </div>
        <div class="item">
          <img src="{{item.image3}}" alt="Preview 3" style="width:100%;">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-ms-8 col-lg-9">
    <div class="alert alert-success">
      <p>Event starts: <span id="datepost">{{item.datepost}}</span></p>
      <p id="datepost_timer"></p>
    </div>
    <div class="alert alert-danger">
      <p>Ends in <span id="datefinish">{{item.datefinish}}</span></p>
      <p id="datefinish_timer"></p>
    </div>
    <div class="title-info">
      <h2 id="item-name">{{item.proname}}</h2>
      <p>{{{item.fulldes}}}</p>
      <button id="addwishlist" type="button" class="btn btn-link watchlistItem" value="{{item.proid}}">Add to Wishlist</button>
      {{> Checkerror}}
    </div>
    <div class="item-info">
      <div class="current-bid">
        <h3><b>${{maxbidandstep.maxprice}}</b></h3>
      </div>
      <!-- <div class="previous-bid">
        <p><b>$17.00</b></p>
      </div> -->
    </div>
      {{#if user}}
          {{#if isTimeNotAvailable}}
              <p>Now is not the time to bid</p>
          {{else if isRatingNotAvailable}}
              <p>Positive rating occupy a low rate</p>
          {{else if CheckElimanate}}
              <p style="color:red;">You can not allow the auction product</p>
          {{else}}
              <!-- Khuc nay minh se check-->
              {{#if checkingSellerItem}}
                <div class="btn-bid">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#enquirypopup">Eliminate Buyer</button>
                </div>
              {{else}}
                <div class="btn-bid">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" onclick="showSuggest({{maxbidandstep.maxprice}}, {{maxbidandstep.step}})">Bid Now</button>
                </div>
              {{/if}}
          {{/if}}
      {{else}}
          <div class="btn-bid">
              <a href="/register"><button type="button" class="btn btn-default" href="/login">Sign up to bid!</button></a>
              <p>Already signed up?</p>
              <a href="/login">
                  <p>Login!</p>
              </a>
          </div>
      {{/if}}


    <!-- Modal: thong ke danh sach-->
    <div id="enquirypopup" class="modal fade in" role="dialog">
       <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content row">
           <div class="modal-header custom-modal-header">
             <button type="button" class="close" data-dismiss="modal">×</button>
             <h4 class="modal-title">Eliminate Buyer</h4>
           </div>
           <div class="modal-body">
             <form action="/seller/updateDescription" method="post">
               <div class="form-group">
                 <table class="table table-hover table-bordered" id="table1">
                   <thead>
                     <tr>
                       <th style="display:none;">ProID</th>
                       <th style="display:none;">UserID</th>
                       <th>f_ImageUrl</th>
                       <th style="display:none;">Username</th>
                       <th>Name</th>
                       <th>Positiverating</th>
                       <th>Negativerating</th>
                       <th>Date of create</th>
                       <th>Eliminate</th>
                     </tr>
                   </thead>
                   <tbody class="mess">
                     {{#each BuyerAuction}}
                       <tr>
                         <td class="fsidPro" valign="middle" align="center" style="display:none;">{{this.productid}}</td>
                         <td class="fsidUser" valign="middle" align="center" style="display:none;">{{this.f_ID}}</td>
                         <td class="fsImgUser" valign="middle" align="center">
                           <img src="{{this.f_ImageUrl}}" class="img-responsive img-box img-thumbnail" style="height: 100px; width: 100px;">
                         </td>
                         <td class="fsUsernames" valign="middle" align="center" style="display:none;">{{this.f_Username}}</td>
                         <td class="fsName" valign="middle" align="center">{{this.f_Name}}</td>
                         <td class="fsPositi" valign="middle" align="center">{{this.positiverating}}</td>
                         <td class="fsNegative" valign="middle" align="center">{{this.negativerating}}</td>
                         <td class="fsSogiay" valign="middle" align="center">{{this.sogiay}}</td>
                         <td>
                          {{{CheckingState state_User}}}
                        </td>
                       </tr>
                     {{/each}}
                   </tbody>
                 </table>
               </div>
               <button type="submit" class="btn btn-primary" id="sentButton">Update</button>
             </form>
             <!-- dung jquery xu ly -->
           </div>
         </div>
       </div>
     </div>

     <div class="modal fade" id="AccpecBlock" role="dialog">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h4 class="modal-title">Confirm</h4>
           </div>
           <div class="modal-body">
             <p>You Want to block user: <span id="userConfirm"></span></p>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-primary" id="btn-bid">OK</button>
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>
         </div>
       </div>
     </div>




    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Bid</h4>
              <h6><p class="label label-warning" id="bid-warning1">Event sta</p></h6>
          </div>
          <div class="modal-body">
            <div class="beat col-md-6 col-ms-6">
                <h3>Current Price $<span id="current-price">{{maxbidandstep.maxprice}}</span></h3>
              <i><p>Step $<span id="bid-step">{{maxbidandstep.step}}</span></p></i>
              <div class="auto-bid col-md-12 col-ms-12">
                <p>Auto bid?</p>
                <div class="btn-group" data-toggle="buttons">

            			<label class="btn btn-primary">
            				<input type="checkbox" autocomplete="off" checked>
            				<span class="glyphicon glyphicon-ok"></span>
            			</label>
            		</div>
              </div>
            </div>
            <div class="form-group col-md-6 col-ms-6">
              <label for="usr" class="col-md-12 col-ms-12">Suggested price</label>
              <div class="show-suggest-price" id="show-suggest-price"></div>
              <div class="show-custom-price" id="show-custom-price">
                <label>Custom price</label>
                <input type="number" class="form-control" id="custom-price">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btn-bid1">Bid!</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="owner-info col-md-12 col-ms-12" id="inner" style="margin-top: 50px;">
    <div class="bid-info col-md-6 col-ms-6 col-lg-7">
      <div class="panel panel-default col-md-12 col-ms-12">
        <div class="panel-body">
          <div class="starting-bid">
            <p>Starting bid: </p>
            <p><strong>$ {{item.startprice}}</strong></p>
          </div>
          <div class="bit-user">
            <p>We've had {{totalPersonBid.count}} people tried to bid!</p>
          </div>
          <div class="bit-count">
            <p>Bid counts: </p>
            <p>{{maxbidandstep.bidcount}}</p>
          </div>
        </div>
      </div>
      <div class="history col-md-12 col-ms-12">
        <h4>History</h4>
      </div>
      <div class="history-list col-md-12 col-ms-12">
        <table class="table">
          <thead>
            <tr>
              <th>Time</th>
              <th>Username</th>
              <th>Bid</th>
            </tr>
          </thead>
          <tbody>
            {{#each bidhistory}}
            <tr>
              <td>{{this.timebid}}</td>
              <td>{{this.f_Name}}</td>
              <td>${{this.price}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="comment col-md-12 col-ms-12">
        <div class="comment-title col-md-12 col-ms-12">
          <h3>Comments :</h3>
        </div>
        <div class="content col-md-12 col-ms-12">
            <form action="/item/{{item.proid}}/comments" method="post" id="commentForm">
              <div class="textarea-message col-md-9 col-ms-9">
                <textarea id="message" class="textarea-message form-control" placeholder="Your Message" rows="5" name="content"></textarea>
              </div>
              <div class="text-center col-md-3 col-ms-3">
                <button type="submit" class="button button-style button-style-dark button-style-icon text-center">Submit</button>
              </div>
            </form>
        </div>
        <div class="previous-comment col-md-12 col-ms-12">
          <ul>
            {{#each comment}}
            <li>
              <div class="col-sm-2">
                <div class="thumbnail">
                  <img class="img-responsive user-photo" src="{{this.f_ImageUrl}}" style="height: 75px; width: 100px;">
                </div>
                <!-- /thumbnail -->
              </div>
              <!-- /col-sm-1 -->
              <div class="col-sm-10">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <strong>{{this.f_Name}}</strong> <span class="text-muted">commented on {{this.datepost}}</span>
                  </div>
                  <div class="panel-body">
                    {{this.content}}
                  </div>
                  <!-- /panel-body -->
                </div>
                <!-- /panel panel-default -->
              </div>
              <!-- /col-sm-5 -->
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-ms-6 col-lg-5">
      <div class="owner-buyer">
        <div class="owner">
          <div class="owner-avatar">
            <div class="current-buyer-avatar">
              {{#if seller}}
                <img src="{{seller.f_ImageUrl}}" alt="avatar" class="img-circle" style="width: 150px; height: 150px;">
              {{else}}
                <img src="http://placehold.it/150x150" alt="avatar" class="img-circle">
              {{/if}}
            </div>
          </div>
          <div class="owner-username">
            <a href="#">
              <p><b>Seller: {{seller.f_Name}}</b></p>
            </a>
          </div>
        </div>
        <div class="exchange">
          <span class="glyphicon glyphicon-resize-horizontal"></span>
        </div>
        <div class="current-buyer">
          <div class="current-buyer-avatar">
            {{#if highesybuyerIMG}}
              <img src="{{highesybuyerIMG}}" alt="avatar" class="img-circle" style="width: 150px; height: 150px;">
            {{else}}
              <img src="http://placehold.it/150x150" alt="avatar" class="img-circle">
            {{/if}}
          </div>
          <div class="current-buyer-username">
            <a href="#">
              <p><b>Current highest: {{highestbuyerid}}</b></p>
            </a>
          </div>
        </div>
      </div>
      <div class="about-seller">
        <h3>Seller information</h3>
        <div class="panel-body">
          <a href="#">
            <p>@{{seller.f_Username}}</p>
          </a>
          <p>Total items: {{sellertotalitems.totalitems}}</p>
          <br>
          <a href="/timkiem?searchinput=&catogory=0">
            <p>See other items of Web</p>
          </a>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/component/moment/moment.js"></script>
<script src="/component/moment-precise-range/readable-range.js"></script>
<script src="/component/bootstrap3-dialog/dist/js/bootstrap-dialog.js"></script>
<script src="/js/item.js"></script>
<script src="/js/countdown.js"></script>
<script src="/js/datatable.js"></script>
<script type="text/javascript">
  function BlockAccount() {
      $("#table1").on('click', '[button-add="addfriendBTN"]', function () {
        var li = $(this).closest("tr");
        var idClient = li.find(".fsidUser").text();
        var userName = li.find(".fsName").text();
        var idProduct = li.find(".fsidPro").text();
        var idUser = li.find(".fsidUser").text();

        BootstrapDialog.show({
            title: 'Confirm',
            message: 'You want to block user: ' + userName,
            buttons: [{
                  label: 'Close',
                  action: function(dialog){
                      dialog.close();
                  }
            },
            {
                  label: 'OK',
                  cssClass: 'btn-primary',
                  action: function(dialog) {
                      $.ajax({
                          url: '/item/'+ idProduct +'/eliminate',
                          method: 'POST',
                          contentType : "application/json",
                          data: JSON.stringify({iduserblock: idUser, idproductblock: idProduct}),
                          success: function (data) {
                              console.log(data);
                          },
                          complete: function () {
                            window.location.reload();
                          }
                      });
                      dialog.close();
                  }
            }]
        });
      });
  }
  function UnblockAccount() {
      $("#table1").on('click', '[button-unlock="unlockAccount"]', function () {
      var li = $(this).closest("tr");
      var idClient = li.find(".fsidUser").text();
      var userName = li.find(".fsName").text();
      var idProduct = li.find(".fsidPro").text();
      var idUser = li.find(".fsidUser").text();

      BootstrapDialog.show({
          title: 'Confirm',
          message: 'You want to unblock user: ' + userName,
          buttons: [{
                label: 'Close',
                action: function(dialog){
                    dialog.close();
                }
          },
          {
                label: 'OK',
                cssClass: 'btn-primary',
                action: function(dialog) {
                    $.ajax({
                        url: '/item/'+ idProduct +'/unblockElimanate',
                        method: 'POST',
                        contentType : "application/json",
                        data: JSON.stringify({iduserblock: idUser, idproductblock: idProduct}),
                        success: function (data) {
                            console.log(data);
                        },
                        complete: function () {
                          window.location.reload();
                        }
                    });
                    dialog.close();
                }
          }]
      });
    });
  }
  $(function () {
    $('[data-toggle="tooltip"]').tooltip(); // cho phep hien thi cac cuc nho
    $('#table1').DataTable();
    BlockAccount();
    UnblockAccount();
  });
</script>
