<div class="row">
    <div class="col-md-12 col-ms-12">
        {{> breadcrumd}}
    </div>
</div>
<div class="col-md-2">
  {{> leftmenu}}
</div>
<div class="col-md-10">
  <div class="panel panel-default row">
        <div class="panel-heading">
          <p>Đấu giá</p>
          <div class="">
            {{> radioButton_SP}}
          </div>
        </div>
        <div class="panel-body">
          <div class="row" id="rowProduct">
            {{#if productlist.length}}
                {{#each productlist}}
                  <div class="col-md-4 col-sm-6">
                    <span class="thumbnail text-center">
                        <img src="/img/Bags/B1a.jpg" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                          <h6 class="text-danger" style="font-size: 15px;">{{this.proname}}</h6>
                            <div class="ratings">
                            </div>
                            <p style="font-size: 13px;">Price: <span class="price">{{this.currentprice}}</span> </p>
                            <p style="font-size: 10px; color: blue">[{{this.soluotdaugia}} turn]</p>
                            <p style="font-size: 13px;">Auction End in {{this.songay}} days</p>
                            <hr class="line">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <button type="button" class="btn btn-link">Add to Wishlist</button>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                  <a href="/product/?product={{this.proid}}"><button class="btn btn-danger right" button-bid="bidnow"> BID NOW</button></a>
                                </div>
                            </div>
                    </span>
                  </div>
                {{/each}}
            {{else}}
                <div class="container">
                  <h4>No Prodcut In This Time</h4>
                </div>
            {{/if}}
          </div>
          <hr>
          <div class="row" aria-label="..." style="text-align:center;">
          {{#if productlist.length}}
            <ul class="pagination">
              {{foo}}
            </ul>
          {{else}}
          {{/if}}
        </div>
        </div>
  </div>
</div>

<script type="text/javascript">
function sortUsingNestedText(parent, childSelector, keySelector) {
    var items = parent.children(childSelector).sort(function(a, b) {
        var vA = $(keySelector, a).text();
        var vB = $(keySelector, b).text();
        return (vA < vB) ? -1 : (vA > vB) ? 1 : 0;
    });
    parent.append(items);
}
$('#sortDB').data("sortKey", "span.price");
$("button.btnSort").click(function() {
   sortUsingNestedText($('#rowProduct'), "div", $(this).data("sortKey"));
});
</script>
