<div class="container">
    <div class="row">
        {{#each historyAuction}}
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <img src="{{this.image1}}" class="img-responsive img-box img-thumbnail">
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9">
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="row-content">
                            <div class="list-group-item-heading">
                                <a href="/item/{{this.proid}}" title="sintret">
                                    <h4>{{{trimString this.proname}}}</h4>
                                </a>
                            </div>
                            <small>
                                  <p><i class="glyphicon glyphicon-time"></i> Time to finish: {{{checkingDeadline this.thoigian}}} </p>
                                  <br>
                                  <p>Date to bid this product: <span style="color:#800000; font-size: 14px;"> {{this.timebid}}</span> </p>
                                  <p style="color:#00BFFF">Your price bid: {{this.price}} $</p>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {{/each}}
    </div>
</div>
