<div class="row">
    <div class="col-md-12 col-ms-12">
        <!-- {{> breadcrumd}} -->
    </div>
</div>
{{> popupMessage}}
<!-- Breadcrumb-->
<div class="row" style="margin-top: 20px;">
    <div class="col-md-12 col-ms-12">
        {{> sliderHome}}
    </div>
    <div class="col-md-8 col-ms-12" style="margin-top:20px;">
        {{> sliderHome_Shopping}}
    </div>
    <div class="col-md-4 col-ms-12" style="margin-top:20px;">
        {{> sliderHome_Bags}}
    </div>
    <div class="col-md-4 col-ms-12" style="margin-top:20px;">
        {{> sliderHome_Shoes}}
    </div>
    <div class="col-md-8 col-ms-12" style="margin-top:20px;">
        {{> sliderHome_Men}}
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-12 col-ms-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center;">
                <h1 class="panel-title">TOP 5 PRODUCT ARE BID MOST</h1>
            </div>
            <div class="panel-body">
                <div class="">
                    <div class="span12">
                        <div class="well">
                            <div id="myCarousel" class="carousel fdi-Carousel slide">
                                <!-- Carousel items -->
                                <div class="carousel fdi-Carousel slide" id="eventCarousel" data-interval="0">
                                    <div class="carousel-inner onebyone-carosel">
                                        {{#each mostauctionbid}}
                                            <div class="item">
                                                <div class="col-md-4 col-sm-12">
                                                  <span class="thumbnail text-center">
                                                      <img src="{{this.image1}}" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                                                        <h6 class="text-danger" style="font-size: 15px;">{{{trimString this.proname}}}</h6>
                                                          <div class="ratings">
                                                            <p style="font-size: 11px; color: red">Highestbuyerid: {{this.userBid}}</p>
                                                          </div>
                                                          <p style="font-size: 11px;"><span class="price">Best price in time: {{this.priceAuction}} $</span> </p>
                                                          <p style="font-size: 10px; color: blue">[{{this.soluotdaugia}} turn]</p>
                                                          <p style="font-size: 13px;">Auction End in {{this.sogiay}} Second</p>
                                                          <input class="idText" type="hidden" name="id" value="{{this.proid}}">
                                                          <hr class="line">
                                                          <div class="row">
                                                              <div class="col-md-6 col-sm-6">
                                                                  <button button-add="addwishlist" type="button" class="btn btn-link watchlistItem">Add to Wishlist</button>
                                                              </div>
                                                              <div class="col-md-6 col-sm-6">
                                                                <a href="/item/{{this.proid}}"><button class="btn btn-danger right" button-bid="bidnow"> BID NOW</button></a>
                                                              </div>
                                                          </div>
                                                  </span>
                                                </div>
                                            </div>
                                        {{/each}}
                                    </div>
                                    <a class="left carousel-control" href="#eventCarousel" data-slide="prev"></a>
                                    <a class="right carousel-control" href="#eventCarousel" data-slide="next"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="line">
        </div>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-12 col-ms-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center;">
                <h1 class="panel-title">TOP 5 PRODUCT PRICE MOST</h1>
            </div>
            <div class="panel-body">
              <div class="">
                  <div class="span12">
                      <div class="well">
                          <div id="myCarousel" class="carousel fdi-Carousel slide">
                              <!-- Carousel items -->
                              <div class="carousel fdi-Carousel slide" id="eventCarousel2" data-interval="0">
                                  <div class="carousel-inner onebyone-carosel">
                                      {{#each bestprice}}
                                          <div class="item">
                                              <div class="col-md-4 col-sm-12">
                                                <span class="thumbnail text-center">
                                                    <img src="{{this.image1}}" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                                                      <h6 class="text-danger" style="font-size: 15px;">{{{trimString this.proname}}}</h6>
                                                        <div class="ratings">
                                                          <p style="font-size: 11px; color: red">Highestbuyerid: {{this.userBid}}</p>
                                                        </div>
                                                        <p style="font-size: 11px;">Price: <span class="price">Best price in time: {{this.priceAuction}}</span> </p>
                                                        <p style="font-size: 10px; color: blue">[{{this.soluotdaugia}} turn]</p>
                                                        <p style="font-size: 13px;">Auction End in {{this.sogiay}} Second</p>
                                                        <input class="idText" type="hidden" name="id" value="{{this.proid}}">
                                                        <hr class="line">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6">
                                                                <button button-add="addwishlist" type="button" class="btn btn-link watchlistItem">Add to Wishlist</button>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6">
                                                              <a href="/item/{{this.proid}}"><button class="btn btn-danger right" button-bid="bidnow"> BID NOW</button></a>
                                                            </div>
                                                        </div>
                                                </span>
                                              </div>
                                          </div>
                                      {{/each}}
                                  </div>
                                  <a class="left carousel-control" href="#eventCarousel2" data-slide="prev"></a>
                                  <a class="right carousel-control" href="#eventCarousel2" data-slide="next"></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <hr class="line">
        </div>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-12 col-ms-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center;">
                <h1 class="panel-title">TOP 5 PRODUCT COMING TO AN END</h1>
            </div>
            <div class="panel-body">
              <div class="">
                  <div class="span12">
                      <div class="well">
                          <div id="myCarousel" class="carousel fdi-Carousel slide">
                              <!-- Carousel items -->
                              <div class="carousel fdi-Carousel slide" id="eventCarousel1" data-interval="0">
                                  <div class="carousel-inner onebyone-carosel">
                                      {{#each cometoend}}
                                          <div class="item">
                                              <div class="col-md-4 col-sm-12">
                                                <span class="thumbnail text-center">
                                                    <img src="{{this.image1}}" alt="..." class="img-responsive" style="width: 350px; height:280px;">
                                                      <h6 class="text-danger" style="font-size: 15px;">{{{trimString this.proname}}}</h6>
                                                        <div class="ratings">
                                                          <p style="font-size: 11px; color: red">Highestbuyerid: {{this.userBid}}</p>
                                                        </div>
                                                        <p style="font-size: 11px;">Price: <span class="price">Best price in time: {{this.priceAuction}}</span> </p>
                                                        <p style="font-size: 10px; color: blue">[{{this.soluotdaugia}} turn]</p>
                                                        <p style="font-size: 13px;">Auction End in {{this.sogiay}} Second</p>
                                                        <input class="idText" type="hidden" name="id" value="{{this.proid}}">
                                                        <hr class="line">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6">
                                                                <button button-add="addwishlist" type="button" class="btn btn-link">Add to Wishlist</button>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6">
                                                              <a href="/item/{{this.proid}}"><button class="btn btn-danger right" button-bid="bidnow"> BID NOW</button></a>
                                                            </div>
                                                        </div>
                                                </span>
                                              </div>
                                          </div>
                                      {{/each}}
                                  </div>
                                  <a class="left carousel-control" href="#eventCarousel1" data-slide="prev"></a>
                                  <a class="right carousel-control" href="#eventCarousel1" data-slide="next"></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function() {
        $(".item").on('click', '[button-add="addwishlist"]', function () {
            var spanItem = $(this).closest("span");
            var idProduct = spanItem.find(".idText").val();
            var urlServer = "/wishlist?idProduct=" + idProduct;
            var ajaxElement = {
                checking : true
            };
            var ObjectItem = {
                idItem : idProduct
            };
            $.ajax({
              url: "wishlist",
              method: 'POST',
              contentType : "application/json",
              data: JSON.stringify({ajax : ajaxElement, idItem : ObjectItem}),
              success: function (data) {
                    // xet redirect
                    if (typeof data.redirect == 'string') {
                      window.location.replace(window.location.protocol + "//" + window.location.host + data.redirect);
                    }
                    else {
                       // co nghia la da dang nhap va tra ve thanh cong
                       // thanh cong minh se lam gi ?
                       //1. minh se cho hien 1 cai popup len thong bao da thanh cong
                       //2. neu minh da them san pham nay roi thi minh se in ra la da co san pham nay roi
                       console.log(data.messagesFail);
                       console.log(data.messagesSuccess);
                       if( data.messagesFail !== undefined) {
                          // that bai
                          var bodymessage = $("#primary").find(".modal-body h3");
                          bodymessage.css("color", "red");
                          bodymessage.text(data.messagesFail);
                          $("#popupMessages").click();
                       }
                       else {
                          // thanh cong
                          var bodymessage = $("#primary").find(".modal-body h3");
                          bodymessage.css("color", "black");
                          console.log(data.messagesSuccess);
                          bodymessage.text(data.messagesSuccess);
                          $("#popupMessages").click();
                       }
                    }
              }
            });
        })
        // ajax xử lý button add to watchlist
        $('.fdi-Carousel .item:first-child').addClass("active");

        $('#myCarousel').carousel({
            interval: 10000
        });

        $('.fdi-Carousel .item').each(function() {
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            if (next.next().length > 0) {
                next.next().children(':first-child').clone().appendTo($(this));
            } else {
                $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
            }
        });
    });
</script>
